{block name="content"}
<div class="think-box-shadow">
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>群员名称</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.userid}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>
                {notempty name='vo.username'}
                <img data-tips-image style="width:20px;height:20px;vertical-align:top" src="{$vo.useravatar|default=''}" class="margin-right-5">
                {/notempty}
                <div class="inline-block">{$vo.username|default='--'}</div>
            </td>
            <td class="text-left nowrap">
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该用户吗？" data-action="{:url('removeDetails')}" data-value="userid#{$vo.userid}" data-csrf="{:systoken('removeDetails')}">删 除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </d>
</div>
{/block}